<div class="container">
    <h2>Smart House – Device Status</h2>

    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error">Error loading state</div>

    <div *ngIf="!loading && !error">
        <div class="grid">
            <div class="card" *ngFor="let dev of state | keyvalue">
                <h3>{{ dev.key }}</h3>

                <p><strong>Value:</strong> {{ dev.value.value }}</p>
                <p><strong>Measurement:</strong> {{ dev.value.measurement }}</p>
                <p><strong>Runs on:</strong> {{ dev.value.runs_on }}</p>
                <p><strong>Simulated:</strong> {{ dev.value.simulated }}</p>
                <p><strong>Timestamp:</strong> {{ dev.value.timestamp }}</p>
            </div>
        </div>
    </div>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=1&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0">
    </iframe>

    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=2&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>

    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=3&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>

    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=4&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>
    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=5&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>
    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=6&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>
    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=7&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>
    <br>
    <iframe
        src="http://localhost:3000/d-solo/ad4sdpq/iot?orgId=1&from=now-1h&to=now&timezone=browser&panelId=8&refresh=10s&__feature.dashboardSceneSolo=true"
        width="450" height="200" frameborder="0"></iframe>
</div>